configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
m4/argz.m4
m4/lt*.m4
m4/libtool.m4
compile
config.h.in
libltdl/
*~
++*
=*
.rsync-filter
.version
version.h
texinfo.tex
*.info
test-driver
