## travis configuration file

language: c

sudo: required

env:
  global:
    - secure: "qIyxfoi6sDAu+bqx8fBsEHDQjI1myHFFJQqmm/03kGTZ8iuFMuP0q64xmNhq11t6xnB/XUuNJkw2zKizM2cTHCs3T6wElQ+GJ8ImUoSF/VDOjo1b/KLbar19zh5xO14adtlEsR6M/SKcEErwr7Mf8kHSNfLIjREm8lZn5jPN+tI="

compiler:
  - gcc
  - clang

before_install:
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-certificates.crt

before_script:
  - autoreconf -vfi

script: 
  - ./configure || { cat config.log; false; }
  - make clean all check || { cat test/test-suite.log; false; }
  - make distcheck

## whitelist
branches:
  only:
    - master
    - next
    - coverity-scan
    - /^v\d+\..*/

deploy:
  provider: releases
  api_key:
    secure: "j+ngIiQI9HXFswf/rzOsPUaIDEDYoc3TJqTTkwqlM6/MHe/nRoYIM8G8kDqpCISSI8NCHZCjC9AZqFlpGpoGYKV4PZuNMLY1ejp1QPzcCABvj4LgTtP2pQFYOBk3Vl/FZNSjJUtB6tf/Wour2PoK8F8fxZqOYKdlRIEqFLi3g3c="
  file_glob: true
  file: echse-*.tar.xz
  skip_cleanup: true
  on:
    tags: true

notifications:
  email:
    - devel@fresse.org

addons:
  apt:
    packages:
      - gperf
      - libev-dev
  coverity_scan:
    project:
      name: "hroptatyr/echse"
      description: "echse coverity scan"
    notification_email: devel@fresse.org
    build_command_prepend: "./configure"
    build_command: "make all check"
    branch_pattern: coverity-scan
